# Required: RTSP camera stream URL
RTSP_STREAM=rtsp://username:password@camera-ip:554/stream

# Timezone used for scheduled TIME_1/TIME_2/TIME_3 triggers.
# Use an IANA timezone name, for example Europe/Berlin, America/New_York, or Asia/Tokyo.
TZ=UTC

# set up to three trigger times. (1-2 recommended)
# To get the best results, make sure lightning is about the same in all of your triggers.
TIME_1=
TIME_2=
TIME_3=

# If you want to take snapshots in static intervals (minutes), you can set it here.
INTERVAL=

# If a snapshot fails, keep retrying for up to this many seconds.
RETRY_MAX_SECONDS=3600
RETRY_DELAY_SECONDS=60

# Set the length of the timelapse, it will start slow but quickly gets more dense
TIMELAPSE_LENGTH_SECONDS=10

# Specify where it saves the snapshots and timelapse
# Make sure this is set to the right folder so GrowCast can display it!
SNAPSHOT_DIR_OUT=./snapshots
TIMELAPSE_DIR_OUT=./timelapse
# low / medium / high
TIMELAPSE_QUALITY=medium

# WEBHOOK
WH_URL=
